<link
  rel="stylesheet"
  type="text/css"
  href="assets/vendor/bootstrap/css/bootstrap.min.css"
/>
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="row">
        <div class="col-sm-6">
          <form class="login100-form" style="align-content: flex-start;">
            <h1 style="text-align: center;">
              EasyGame
            </h1>
            <h6 style="text-align: center; padding-bottom: 16%;">
              easyGame, brincando de inovar!
            </h6>
            <div class="wrap-input100">
              <input class="input100" type="text" name="email" />
              <span class="focus-input100" data-placeholder="Usuário"></span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
            >
              <input class="input100" type="password" name="password" />
              <span class="focus-input100" data-placeholder="Password"></span>
            </div>
            <div class="container-login100-form-btn">
              <div>
                <button [routerLink]="['/home']" mat-raised-button class="submit-button btn btn-primary" aria-label="LOG IN"
                        (click)="login(user.email, user.password)">
                    LOGIN
                </button>
                <!-- class="login100-form-btn"> -->
              </div>
            </div>
            <div class="text-center p-t-115">
              <span class="txt1">
                Don’t have an account?
              </span>
              <a class="txt2" href="#">
                Sign Up
              </a>
            </div>
          </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <img src="assets/images/login-theme.jpg" style="max-height: 40%;" />
        </div>
      </div>
    </div>
  </div>
</div>
